<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RDB (Restaurant Data Bank)</title>
  <meta name="theme-color" content="#ffce21"/>
  <link rel="manifest" href="./app.webmanifest">
  <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
  <header class="navbar-container">
    <a href="#mainContent" class="skip-link" tabindex="1">Skip to Content</a>
    <div class="logo">
      <span>RDB (Restaurant Data Bank)</span>
    </div>
    <a id="hamburger" href="#">☰</a>
    <nav class="nav-list skip" id="navList">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/aldova-ferdiansyah-94b393220/">About Us</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="hero">
      <img src="./images/heros/hero-image_4.jpg" alt="image of hero" />
    </div>
    <div class="judulDraf" id="mainContent">
      <h2>DAFTAR REKOMENDASI RESTAURANT<h2>
    </div>
    <div class="listRestaurant">
    </div>
  </main>
  <footer>
    <p>Restaurant Katalog &#169; 2024, Aldova Ferdiansyah. MSIB Dicoding Batch 6</p>
  </footer>

  <script src="../scripts/index.js"></script>
</body>

</html>